.table {
    margin: 1rem;
    border-collapse: collapse;
}

@media (max-width: 700px) {
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tbody td{
       display: block;
       text-align: right;
     }

    table td::before {
        content: attr(data-label);
        float: left;
        margin-right: auto;
        font-weight: bold;
    }
}