.employee {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid rgba(136, 136, 136, 0.356);
}

.employee td {
    padding-block: 1rem;
}

.employee .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.employee .btn {
    border-radius: 20px;
    padding: 0.4rem;
    color: white;
    cursor: pointer;
    border: none;
}

.employee .btn-rect {
    border-radius: 10px;
    padding: 0.4rem;
    color: white;
    cursor: pointer;
    border: none;
}

.employee .redBtn {
    background: rgb(255, 50, 50);

}

.employee .yellowBtn {
    background: rgb(207, 192, 102);
}