.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: rgb(14, 124, 214);
    color: white;
}

.header .links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.header .links a {
    color: white;
}

@media (max-width: 450px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .header .links {
        gap: 1rem;
    }
}